@model ApplicationCore.Models.MovieDetailsModel
@using ApplicationCore.Models
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">


<div class="bg-image" style="background-image: url(@Model.BackdropUrl)">
    <div class="row">
        <div class="col-md-3 offset-2">
            <div>
                <img src="@Model.PosterUrl" class="card-img-top" />
            </div>
        </div>

        <div class="col-md-4">
            <div class="row mt-2">
                <div class="col-12">
                    <h1 class="text-white">@Model.Title</h1>
                    <small class="text-muted"> @Model.Tagline </small>
                </div>
            </div>

            <div class="row">
                <div class="col-4 text-secondary font-weight-bold mt-2">
                    @Model.RunTime m | @Model.ReleaseDate.Value.Date.Year
                </div>

                <div class="col-8">
                    @foreach (var genre in Model.Genres)
                    {
                        <a class="badge bg-secondary ml-1 text-decoration-none" asp-action="GenreMovies" asp-route-id="@genre.Id">
                            @genre.Name
                        </a>
                    }
                </div>
            </div>

            <div class="row">
                <div class="col-4 mt-3">
                    <h4>
                        <span class="badge bg-success">@Model.Review.Rating</span>
                    </h4>
                </div>
            </div>

            <div class="row">
                <div class="col-12 text-light mt-2">
                    @Model.Overview
                </div>
            </div>
        </div>

        <div class="col-md-2 mt-4 offset-1">
            <div class="row">
                <div class="col-md-10 mt-4 offset-1">
                    @{
                        ReviewDetailsModel reviewMovie = new ReviewDetailsModel
            {
                MovieId = Model.Id
            };
                    }
                    <partial name="_ReviewMovie" model="reviewMovie" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 mt-4 offset-1">
                    @{
                        PurchaseMovieModel purchaseMovie = new PurchaseMovieModel
            {
                MovieId = Model.Id
            };
                    }
                    <partial name="_PurchaseMovie" model="purchaseMovie" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 mt-4 offset-1">
                    @{
                        FavoriteMovieModel favoriteMovie = new FavoriteMovieModel
            {
                MovieId = Model.Id
            };
                    }
                    <partial name="_FavoriteMovie" model="favoriteMovie" />
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h5>MOVIE FACTS</h5>
        <hr>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <i class="bi bi-calendar-week"></i> Release Date
                <span class="badge rounded-pill bg-dark">@Model.ReleaseDate.Value.ToString("MMM dd,yyyy")</span>
            </li>
            <li class="list-group-item">
                <i class="bi bi-hourglass-split"></i> Run Time
                <span class="badge rounded-pill bg-dark">@Model.RunTime m</span>
            </li>
            <li class="list-group-item">
                <i class="bi bi-cash-coin"></i> Box Office
                <span class="badge rounded-pill bg-dark">$@Model.Revenue.Value.ToString("0.00")</span>
            </li>
            <li class="list-group-item">
                <i class="bi bi-currency-dollar"></i> Budget
                <span class="badge rounded-pill bg-dark">$@Model.Budget.Value.ToString("0.00")</span>
            </li>
            <li class="list-group-item">
                <img src="https://www.iconbolt.com/preview/facebook/font-awesome-brands/imdb.svg" width="30" height="18" />
                <i class="bi bi-box-arrow-up-right"></i>
            </li>
        </ul>
        <hr />
        <h5>TRAILERS</h5>
        <ul class="list-group list-group-flush">
            @foreach (var trailer in Model.Trailers)
            {
                <li class="list-group-item">
                    <i class="bi bi-play-btn-fill"></i>
                    <a href="@trailer.TrailerUrl" class="text-decoration-none">@trailer.Name</a>
                </li>
            }
        </ul>
        <hr>
    </div>


    <div class="col-6 offset-1">
        <h5>CAST</h5>
        <hr />
        <table class="table">
            <tbody>
                @foreach (var cast in Model.Casts)
                {
                    <tr>
                        <td>
                            <a asp-controller="Cast" asp-action="Details" asp-route-id="@cast.Id">
                                <img src="@cast.ProfilePath" class="rounded-circle" alt="@cast.Name" width="60" height="80" />
                            </a>
                        </td>
                        <td> @cast.Name </td>
                        <td> @cast.Character</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
